* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

:root {
    --shadow: 3px 4px 10px 1px #05050549;
    --backgr-web: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}
.content{
    height: 100vh;
    background: var(--backgr-web);
    position: relative;
    overflow: hidden;
}
.random-place{
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #ffffff;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: absolute;
    transition: 1000ms;
  }
  .random-place:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #ffffff;
    border: 18px solid rgb(0, 0, 0);
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  .random-place:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(0, 0, 0);
    border: 18px solid #ffffff;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}
.link{
    position: relative;
    transition: 1000ms;
    top: 50vh;
    left: 50vw;
}
.mesange{
    position: absolute;
    z-index: 10;
    top: 10vh;
    left: 10vw;
    width: 20vw;
    height: 20vh;
    background-color: rgb(219, 219, 219);
  
    transform: scale(1.2, 1.2);
    border-radius: 6px;
    box-shadow: var(--shadow);
    visibility: hidden;
    word-wrap: break-word;
   
}
iframe{
    height: 100%;
    width: 100%;
    overflow: hidden;  
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}
