.container {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header {
    color: #803fafb7;
    background: linear-gradient(90deg, #4d2f602e, #2421289d, #484448bf, #130c12b6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: contrast(1.5);

    text-align: center;
    font-size: 180%;
    font-weight: 500;
    margin-bottom: 4%;
}

.text {
    color: #d8b6fa;
    box-shadow:0 0.4em 1em -0.125em rgba(10, 10, 10, 0.711), 0 0 0 1px rgba(10, 10, 10, 0.188);
    background: linear-gradient(135deg, #0000006c, #22355783);
    border-radius: 5px;

    padding: 1.5% 4% 1.5% 4%;
    width: fit-content;
    margin-bottom: 8%;
}