body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #444444, #6d6d6d);
}
.link-big-container {
    margin: 2em;
    background: linear-gradient(90deg, #3a3a3a, #1a1a1a);
    padding-top: 1em;
    margin-top: 0;
    padding-bottom: 1em;
    margin-bottom: 0;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.534), 0 0 0 1px rgb(10 10 10 / 2%);
    border-radius: 5em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #1a1a1a;
}
h1 {
    font-size: 3.5em;
    background: -webkit-linear-gradient(#706e62, #c4bbb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
}
.link-mini-container {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.534), 0 0 0 1px rgb(10 10 10 / 2%);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-inline: 6em;
    border-radius: 2em;
    border: 1px solid #2e2e2e;
    margin-bottom: 1em;
    width: 50%;
}
.link-mini-container:hover {
    background: linear-gradient(90deg, #303030, #2e2e2e);
    border: 0.1px solid #5c5c5c83;
}
.link-big-container a {
text-decoration: none;
}
.link-mini-container p {
    font-size: 2em;
    background: -webkit-linear-gradient(#706e62, #c4bbb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    
}
.footer {
    border-top: 2px solid #706e62;
    padding-bottom: 2em;
}
.footer p {
    font-size: 1em;
    background: -webkit-linear-gradient(#706e62, #c4bbb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
}
@media (max-width: 769px) {
    .link-big-container {
        border-radius: 2em;
        width: 85%;
    }
    .link-mini-container {
        padding-inline: 1em;
        width: 80%;
    }
}