body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --backgr-web: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}

.main-container {
    display: flex;

}

.left-bar {
    background: var(--backgr-web);
    width: min-content;
    padding-inline: 1%;
    text-transform: uppercase;
    height: calc(100vh + 4px);
    border-right: 2px solid #746371b0;

}

.link {
    width: min-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.a-link {
    text-decoration: none;
    text-shadow: #879100 5px 2px 2px;
    font-size: 2vw;
    color: #dfc114;
    transition: 300ms;
}
.a-link:hover{
    color: #c0982b;
    font-weight: 510;
    transform: scale(1.05, 1.05);
}
.a-link:active{
    transform: scale(1.15, 1.15);
    transform: rotate(10deg);
    color: rgb(255, 72, 0);
    text-shadow: #a83000 5px 2px 2px;
}
iframe {
    width: 100%;
    height: 100%;
}

.content-window {
    width: 100vw;
    height: calc(100vh + 4px);
    background: var(--backgr-web);
}