html {
    background: var(--backgrWeb);
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #878f13;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aa8ac28c;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8F60B5, #b596ce);
    border: 2px solid #aa8ac2b9;
    border-radius: 2px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-icon {
    border: none;
    background: transparent;
    font-size: 2em;
    position: absolute;
    z-index: 112;
    color: #5d2c858f;
    transition: 400ms;
    animation: 1s ease-in-out 0s infinite alternate forwards q-anima;
    right: 1%;
    top: 0;
    font-weight: 700;
    display: none;
    overflow: hidden;
}

@keyframes q-anima {
    0% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

.link {
    width: min-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.a-link {
    text-decoration: none;
    font-size: 2vw;
    font-weight: 600;
    transition: 300ms;
    color: var(--fontColor);
    text-shadow: var(--texShadow);
}

.a-link:hover {
    color: var(--hoverColor);
    font-weight: 700;
    transform: scale(1.05, 1.05);
}

.a-link:active {
    transform: scale(1.15, 1.15);
    transform: rotate(10deg);
    color: var(--activeColor);
    text-shadow: var(--activeTextShadow);
}

.left-bar {
    display: flex;
    flex-direction: column;
    background: var(--backgrWeb);
    padding-inline: 1%;
    text-transform: uppercase;
    border-right: var(--border);
}

.content-window {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.float-z {
    position: absolute;
    z-index: 100;
    overflow: hidden;
    top: 0;
    left: 12vw;
    width: 88vw;
    height: 99vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.float-text {
    color: var(--fontColor);
    text-shadow: var(--texShadow);
    transition: 1s ease-in;
    padding: 0;
    margin: 0;
}


@media (max-width: 768px) {
    .main-container {
        display: block;
    }

    .sticky-menu {
        display: none;
    }

    .a-link {
        font-size: 2.5vw;
    }

    .left-bar {
        display: flex;
        flex-direction: row;
        width: 98%;
        height: 11%;
        border-right: none;
        border-bottom: var(--border);
        box-sizing: content-box;
        gap: 1em;
        justify-content: space-around;
    }

    .content-window {
        height: 89%;
    }

    .float-z {
        top: 11%;
        height: 88vh;
        left: 0;
    }


}



@media (max-width: 600px) {

    .content-window {
        height: 100%;
    }

    .menu-icon {
        display: inline-block;
    }

    .sticky-menu {
        top: 20%;
        position: absolute;
        z-index: 111;
        width: fit-content;
        height: fit-content;
        border-right: var(--border);
        border-bottom: var(--border);
        flex-direction: column;
        border-bottom-right-radius: 17px;
        border-top-right-radius: 17px;
        transition: 400ms;
        background-color: #0000003a;
        display: none;
    }

    .link p {
        color: #a35adf;
        text-shadow: #87910079 5px 2px 2px;
    }

    .black-bg {
        position: absolute;
        z-index: 110;
        background-color: #00000036;
        width: 100%;
        height: 100%;
        display: none;
    }

    .menu {
        font-size: 1.5em;
        margin-inline: 0.8em;
    }

    .left-bar {
        display: none;
    }

    .float-z {
        top: 0;
        left: 0;
        height: 99vh;
        width: 99%;
    }

    .float-text {
        text-align: center;
    }
}