.big_container {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.name,
.header {
    color: #803fafb7;
    background: linear-gradient(90deg, #4d2f602e, #2421289d, #484448bf, #130c12b6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: contrast(1.5);

    text-align: center;
    font-size: 180%;
    font-weight: 500;
    margin-bottom: 4%;
}

.small_container {
    display: grid;
    grid-template-columns: 17% 1fr;
    margin-bottom: 8%;
}

.links {
    filter: brightness(110%);

    padding: 8%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 16%;
}

.link {
    color: #d8b6fa;
    box-shadow: 0 0.4em 1em -0.125em rgba(10, 10, 10, 0.61), 0 0 0 1px rgba(10, 10, 10, 0.188);
    background: linear-gradient(135deg, #0000006c, #22355783);
    border-radius: 5px;
    padding: 1.5% 4% 1.5% 4%;

    margin-top: 16%;
    text-decoration: none;
    font-size: 90%;
    transition: 300ms;
}

.link:hover {
    transform: rotate(1deg);
    filter: drop-shadow(1px 1px #000000a1);
}

.category {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    color: #d8b6fa;
    box-shadow: 0 0.4em 1em -0.125em rgba(10, 10, 10, 0.61), 0 0 0 1px rgba(10, 10, 10, 0.123);
    background: linear-gradient(135deg, #0000006c, #22355783);

    box-sizing: border-box;
    aspect-ratio: 10 / 12;
    border-radius: 10%;
    border: 1px solid #00000029;
    margin: 4%;
    overflow: hidden;
    transition: 700ms 100ms;
    z-index: 4;
}

.card:hover {
    transform: scale(1.4) rotate(-1deg);
    z-index: 5;
}

.img {
    width: 100%;
    border-bottom: 1px solid #00000054;
}

.text {
    padding: 4%;
    font-size: 90%;
}

@media(max-width: 768px) {
    .small_container {
        display: block;
    }

    .links {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding: 4%;
        padding-inline: 16%;
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        height: min-content;
        padding-bottom: 8%;
    }

    .link {
        text-align: center;
        margin-top: 16%;
        text-decoration: none;
        font-size: 90%;
    }

    .card:active {
        transform: scale(1.4) rotate(-1deg);
        z-index: 5;
    }
}