@import url(https://fonts.googleapis.com/css?family=Rubik+Pixels|Prompt);

/* background: linear-gradient();
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #416d89;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #416d89c4;
  }

body,
html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  background-color: #000000b1;
}
.main-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./background.webp);
  background-size: 100% 100%;
  filter: blur(1px);
  z-index: -100;
}

* {
  user-select: none;
  font-family: 'Prompt';

}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(167, 167, 167, 0.144);
  position: relative;
  justify-content: center;
}

.float_name {
  font-family: 'Rubik Pixels';
  background: linear-gradient(90deg, #df59db, #8a68e7, #43a0db);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(80%);

  position: fixed;
  z-index: -2;
  top: 12%;
  font-size: 200%;
  font-weight: 700;
}

.header {
  font-family: 'Rubik Pixels';
  background: linear-gradient(90deg, #ab17a6cc, #653bd7cc, #3196d5cc);

  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 1px 11px 30px -7px rgba(0, 0, 0, 0.705);
  display: flex;
  justify-content: right;
  align-items: center;
}

.content {
  background: linear-gradient(90deg, #df59db, #8a68e7, #43a0db);
  
  width: 84%;
  margin-top: 24vh;
  margin-bottom: 14vh;
  box-shadow: 6px 11px 13px -7px rgba(0, 0, 0, 0.66);
  overflow-y: auto;
  border-radius: 15px;
  filter: brightness(80%);

  /* height: 100vh; delete after */
}


@media (max-width: 576px) {
  .content {
    width: 100%;
    border-radius: 0;
  }

  .header {
    box-shadow: 6px 11px 13px -7px rgba(0, 0, 0, 0.356);
  }
}