*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
:root {
    --shadow: 3px 4px 10px 1px #05050549;
    --backgr-web: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--backgr-web);
}
p{
    font-size: 5vw;
    color: #000000bd;
    font-weight: 800;
    margin: 0.5em;
}
.buttons{
    display: flex;
    justify-content: space-around;
    gap: 2em;
}
button{
    padding-inline: 0.9em;
    transform: scale(1.05, 1.05);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    background: transparent;
    transition: 400ms;
    border: 2px solid #000000bd;
    font-size: 2vw;
    color: #000000bd;
    font-weight: 800;
    margin: 0.5em;
}
button:hover{
    transform: scale(1.15, 1.15);
}
button:active{
    opacity: 0;
    transform: scale(1.2, );
    transform: rotate(1deg);
    color: #00000021;
}