.container{
    background: linear-gradient(90deg, #38475145, #3d385122, #4a385134);
    border-top: 2px solid #0000002e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
   padding-bottom: 2%;
}
.access_img{
    box-shadow:  0 0.4em 1em -0.125em rgb(10 10 10 / 60%), 0 0 0 1px rgb(10 10 10 / 24%);
    width: 35%;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 10px;
    filter: brightness(90%);
}
.description_container{
    text-align: center;
    font-size: 80%;
}
.about_link{
    color: #330f4e;

    transition: 200ms 50ms;
    text-decoration: none;
}
.about_link:hover{
    background: linear-gradient(90deg, #2917349d, #412460, #715871bf, #480d3fdc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(1deg);
}
.social_img{
    width: 25px;
    margin-bottom: 10%;
}
.social_link{
    display: flex;
    flex-direction: column;
}
@media(max-width: 576px){
    .access_img{
        display: none;
    }
}