body {
    padding: 0;
    margin: 0;
}
.main-container{
    position: relative;
}
.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    border-bottom: 1.5px solid #929292;
    background-color: #b6b6b6;
}
.content{
    position: fixed;
    bottom: 0;
    background-color: #e7e7e7;
    top: 6.05em;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* change for h=max-content */
}
iframe{
    width: 100%;
    height: 100%;
}